[user]
	name = Koji Shiraishi
	email = shiraco@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim
[color]
	ui = true
[alias]
	ignore = !"f() { local s=$1; shift; \
		while [ $# -gt 0 ]; do s="$s,$1"; shift; done;\
		curl "http://www.gitignore.io/api/$s"; }; f"
	co = checkout
	st = status
	br = branch
	ci = commit
